/game/TheDivineComedy/Binaries/
/game/TheDivineComedy/.vs/
/game/TheDivineComedy/.vsconfig
/game/TheDivineComedy/Intermediate/
/game/TheDivineComedy/Saved/
/game/TheDivineComedy/DerivedDataCache/
/game/TheDivineComedy/Config/DefaultEditor.ini
/game/TheDivineComedy/Content/__ExternalActors__/
/game/TheDivineComedy/Content/__ExternalObjects__/
/game/TheDivineComedy/Content/Characters/
