/game/TheDivineComedy/Binaries/
/game/TheDivineComedy/.vs/
/game/TheDivineComedy/.vsconfig
/game/TheDivineComedy/Intermediate/
/game/TheDivineComedy/Saved/
/game/TheDivineComedy/DerivedDataCache/
/game/TheDivineComedy/Config/DefaultEditor.ini
